# Project exclude paths
/venv/
/docs/
/.idea/
/examples/
/data_qml/flowcharts/
/data_qml/other/
/flowcharts/
/__pycache__/
*.log
*.png
*.pdf
*.gml
*.*old
/data_qml/
/questionnaire_generated*.xml
/data/
/graphs/
/html/

