# Project exclude paths
/venv/
/docs/
/.idea/
/examples/
/example/flowcharts/
/example/other/
/flowcharts/
/__pycache__/
*.log
*.png
*.pdf
*.gml
*.*old
/example/
/questionnaire_generated*.xml
/data/
/graphs/
/html/

